Track your tasks, like
a <a href="http://www.moleskine.com/">Moleskine</a> notebook, except
that you can <b>always read</b> what you wrote (which has been a problem
faced by <a href="http://www.prolificprogrammer.com">the author</a>
their whole life). Join us by <%= link_to 'signing in', '/users/sign_in'%>
