<footer id="footer">
  <span id="todo-count"><strong><%= Todo.where("user_id = #{current_user.id}").count%></strong> <%= "item".pluralize(Todo.count) %> left</span>

  <ul id="filters">
    <li>
      <%= link_to "All", todos_path, class: "all" %>
    </li>
    <li>
  </ul>

</footer>
