<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
<section id="todoapp" class="<%= "has_todos" if @todos.all.count > 0 %>">


  <header id="header">
    <h1>todos</h1>
    <%= form_for(Todo.new, remote: true) do |f| %>
      <%= f.text_field :title, placeholder: "What needs to be done?", id: "new-todo", autofocus: true, "data-behavior" => "submit_on_enter" %>
    <% end %>
  </header>


  <section id="main">
    <%= form_tag(toggle_all_todos_path, method: :post, remote: true) do %>
      <input name="completed" id="toggle-all" type="checkbox" value="true" data-behavior="submit_on_check" <%= "checked" if @todos.count == 0 %>>
    <% end %>
    <ul id="todo-list">
      <%= render @todos.all %>
    </ul>
  </section>


  <%= render "footer" %>


</section>


<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Feedback on application to <a href="mailto:hd1+todo@jsc.d8u.us">Hasan</a>.</p>
</footer>
