<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>The following have been logged as undone at <a href="http://todo.d8u.us">todone</a>:</p>
		<dl>
			<%= tasks.each do |t| %>
				<dt><%= t.title %></dt>
			<% end %>
		</dl>
		<hr>
		<p>End of transmission for <%= Date.today.strftime('%b %d, %Y') %>.</p>
	</body>
</html>

